aiogram==3.21.0

SQLAlchemy==2.0.41
aiosqlite==0.21.0
alembic==1.16.4

python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.10.1

loguru==0.7.3

aiofiles==24.1.0

cachetools==6.1.0

greenlet==3.2.3